@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr\ Medium.ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr\ Medium\ Italic.ttf.ttf");
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr\ Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr\ Bold\ Italic.ttf.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr\ Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr\ Light\ Italic.ttf.ttf");
  font-weight: lighter;
  font-style: italic;
}

* {
  margin: 0px;
}

html {
  font-size: 1.44vw;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90deg, hsla(226, 100%, 3%, 1) 0%, hsla(226, 81%, 6%, 1) 80%);
  background-color: black;
  background-size: 200%;
  animation: bg 1.5s ease infinite;
  font-family: "HelveticaNeueCyr";
  letter-spacing: 0.5px;
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.content {
  display: grid;
  grid-template-rows: 100vh 1fr 100vh 100vh;
}

.header,
.headerScrolled {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  color: rgb(219, 214, 214);
  font-weight: 500;
  transition: 0.5s;
  position: fixed;
  z-index: 99999;
}

.header {
  top: 40px;
}

.headerScrolled {
  background-color: hsla(226, 100%, 3%, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.507);
}

.headerLeft > p,
.headerRight > p{
  cursor: pointer;
  margin: 20px 0px;
}

.headerLeft {
  margin-left: 100px;
}

.headerLeft > p {
  transition: 0.3s;
}

.headerLeft > p:hover {
  text-shadow: 0px 0px 30px white;
}

.headerRight {
  display: flex;
  gap: 50px;
  margin-right: 100px;
}

.headerRight > a {
  color: rgb(219, 214, 214);
  text-decoration: none;
  align-self: center;
  transition: 0.3s;
}

.headerRight > a:hover {
  text-shadow: 0px 0px 30px white;
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3.33rem;
  font-weight: bold;
  color: rgb(192,192,192);
}

a > img {
  height: 20%;
  width: auto;
}

.project {
  color: white;
}

h2, h3, h4, h5 {
  color: white;
}

.projectsSection,
.aboutMe,
.contact {
  margin-left: 4.2083rem;
  margin-right: 4.2083rem;
}

h2 {
  font-size: 2.916rem;
  color: transparent;
  transition: 0.5s;
}

h2.visible {
  color: white;
  animation: appear 0.5s ease-in;
}

@keyframes appear {
  0%{
    color: transparent;
  }
  50%{
    filter: blur(10px);
  }
  100%{
    color: white;
  }
}

h3 {
  font-size: 2.7083rem;
}

h4 {
  font-size: 1.333rem;
}

h5 {
  font-size: 1rem;
}

.projects, .aboutMe {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.project {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.project:nth-child(4) {
  border-bottom: 0px;
}

.projectTitle {
  font-size: 2.0833rem;
  margin-top: 2.5rem;
  font-weight: bold;
}

.projectSubtitle {
  font-size: 1rem;
  color: rgb(192,192,192);
}

.projectBottomRightTop > p,
.projectBottomRightMiddle > p {
  color: rgb(192,192,192);
}

.projectBottomRightTop > p,
.projectTechnologies,
.projectDate {
  font-size: 1rem;
}

.projectBottomRightBottom > a {
  color: white;
  text-decoration: none;
  font-size: 0.833rem;
  display: flex;
  align-items: end;
  gap: 0.4166rem;
  font-weight: bold;
  margin-top: 35px;
  box-shadow: inset 0 0 0 0 rgb(204, 134, 4);
  transition: 0.5s;
}

.projectBottomRightBottom > a:hover {
  box-shadow: inset 15.5vw 0 0 0 rgb(204, 134, 4);
}


.projectBottomRightBottom > a > img {
  height: 1.04166rem;
}

.projects {
  margin: 2.5rem 0px 1.25rem;
}

.projectBottom, .projectBottomBlurred {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.projectBottomBlurred {
  background-color: hsla(226, 100%, 3%, 0.4);
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.projectBottomRight {
  display: flex;
  gap: 0.833rem;
  flex-direction: column;
}

.projectBottomRightMiddle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projectBottomRightMiddle > h5 {
  align-self: flex-end;
}

.projectBottomRightBottom {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}



.project {
  padding-bottom: 2.0833rem;
}

.projectsSection > a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: end;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  gap: 0.4166rem;
  font-weight: bold;
  transition: 0.7s;
  box-shadow: inset 0 0 0 0 rgb(204, 134, 4);;
}

.projectsSection > a > img {
  width: 1.45833rem;
}

.projectsSection > a:hover {
  box-shadow: inset 18.8vw 0 0 0 rgb(204, 134, 4);;
}

.projectComingSoon {
  font-size: 1rem;
  color: rgb(204, 134, 4);
}

.projectBottomLeft {
  align-self: center;
  transition: 0.5s;
}

.projectBottomLeft:hover {
  box-shadow: 0px 0px 2vw rgb(162, 64, 7);
}

.projectBottomLeft > a {
  position: relative;
  display: flex;
}

.projectBottomLeft > a > img:nth-child(1) {
  width: 100%;
  border-radius: 5px;
}

.projectBottomLeft > a > img:nth-child(2) {
  position: absolute;
  height: 16.7vw;
  width: auto;
  top: 5.5vw;
  right: 0.6vw;
  border-radius: 25px;
  border: 4px solid black;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.aboutMeTopLeft > h2 {
  margin-bottom: 2.5rem;
  font-size: 70px;
}

.summaryText {
  color: rgb(192,192,192);
  font-size: 24px;
}

.aboutMeTop {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.aboutMeTopLeft > h4 {
  margin: 1.5rem 0rem 0.4rem;
  font-size: 32px;
}

.aboutMeTopRight {
  width: 100%;
  height: 100%;
  position: relative;
}

.aboutMeTopRight > img {
  object-fit: contain;
  position: absolute;
  height: 100%;
  width: 100%;
}

.skills {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 1rem;
  padding-right: 8.5rem;
}

.desiredSkills {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skill, .desiredSkill {
  color: white;
  font-size: 0.7rem;
  text-align: center;
  height: 100%;
}

.skill > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.desiredSkill > img {
  height: 2.9rem;
}

.desiredSkill > p {
  margin-top: 16.25px;
  color: rgb(192,192,192);
}

.skill > p {
  color: rgb(192,192,192);
}

.aboutMeBottom > h4 {
  margin-top: 3.5rem;
  margin-bottom: 1.4rem;
  font-size: 32px;
}

.contact {
  padding: 92px 0px;
  display: grid;
  grid-template-rows: 5fr 1fr;
  align-items: center;
}

.contactTop > h3 {
  font-size: 60px;
}

.contactTop > a {
  text-decoration: none;
  color: rgb(192,192,192);
  box-shadow: inset 0 0 0 0 rgb(204, 134, 4);
  font-size: 60px;
  transition: 1s;
}

.contactTop > a:hover {
  color: white;
  box-shadow: inset 1000px 0 0 0 rgb(204, 134, 4);
}

.contactBottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  font-size: 1.3rem;
}

.contactBottomLeft,
.contactBottomMid,
.contactBottomRight {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(192,192,192);
}

.contactBottomLeft > p:nth-child(1),
.contactBottomMid > p:nth-child(1),
.contactBottomRight > p:nth-child(1) {
  font-weight: bold;
}

.contactBottomRight > a { 
  color: rgb(192,192,192);
  box-shadow: inset 0 0 0 0 rgb(204, 134, 4);
  text-decoration: none;
  transition: 0.3s;
}

.contactBottomRight > a:hover {
  color: white;
  box-shadow: inset 7.5vw 0 0 0 rgb(204, 134, 4);

}

.contactBottomRight {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "linkTitle linkTitle"
  "linkedin github";
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.contactBottomRight > p {
  grid-area: linkTitle;
}


.contactBottomRight > a:nth-child(2) {
  grid-area: linkedin;
  text-align: left;
  margin-right: 10px;
}


.contactBottomRight > a:nth-child(3){
  grid-area: github;
  text-align: left;
  margin-left: 10px;
}

.contactBottomLeft > p,
.contactBottomMid > p,
.contactBottomRight > p {
  text-align: left;
}

#projects,
#contact {
  position: relative;
  visibility: hidden;
}

#projects {
  top: -8vw;
}

#aboutMe {
  top: -2vw;
  position: absolute;
  visibility: hidden;
}



@media (min-width: 1550px) {
  #projects {
    top: -6vw;
  }
}

@media (max-width: 767px) {}